In [1]:
#list of highschools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [9]:
#list of high schoolst
high_schools = ["Huang High School", "Figueroa High sChool", "Shelton High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High school", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
import pandas as pd

In [16]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High sChool
2       Shelton High School
3       Griffin High School
4        Wilson High School
5       Cabrera High School
6        Bailey High school
7        Holden High School
8          Pena High School
9        Wright High School
10    Rodriguez High School
11      Johnson High School
12         Ford High School
13       Thomas High School
dtype: object

In [23]:
school_series[9]

'Wright High School'

In [53]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name":"Huang High School", "type": "District"},
                    {"School ID": 1, "school_name":"Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrera High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodriguez High School", "type": "District"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"}]

In [54]:
school_df = pd.DataFrame(high_school_dicts)
school_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [31]:
# three separate lists of information on highschools
school_id = [0,1,2,3,4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [42]:
#initialize a new dataframe
schools_df = pd.DataFrame()

#add the list to a new dataframe
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'Type'], dtype='object')

In [44]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [45]:
school_df.values

array([[0, 'Huang High School', 'District', 'District'],
       [1, 'Figueroa High School', 'District', 'District'],
       [2, 'Shelton High School', 'Charter', 'Charter'],
       [3, 'Hernandez High School', 'District', 'District'],
       [4, 'Griffin High School', 'Charter', 'Charter']], dtype=object)

In [51]:
school_df.add = [{"school ID": 5, "school_name":"Frost High School", "type":"District"},
                    {"school ID": 6, "school_name":"Penny High School", "type": "Charter"}]
school_df

   School ID            school_name      type      Type
0          0      Huang High School  District  District
1          1   Figueroa High School  District  District
2          2    Shelton High School   Charter   Charter
3          3  Hernandez High School  District  District
4          4    Griffin High School   Charter   Charter